.button {
  background-image: url("../../icons/truck.png");
  background-size: contain;
  border: none;
  color: black;
  padding: 15px 10px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
