.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
}

.App-information{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.Project-Information{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.editproject{
  display: flex;
  flex-direction: column;
}


.backgroundinfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
}

div.backgroundsection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 20%;
}

.Pledge-Information{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;

}



.PP-Information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;

}

div.editproject {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}



div.editprofile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

button.editbutton {
padding: 5px;
}



.PROJECTINFO{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}



.PROFILEINFO{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 20%;
  min-width: 200px;
}



.pledgeseperatedfromotherinfo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: flex-start;

}

.profileseperatedfromotherinfo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
  max-width: 1000px;
  align-items: center;
  border: 1px solid #373a47;

}



img{
  width: 80%;
}


img.backgroundimage {
  display: flex;
  object-fit: contain;
  width: 100%;
  height: 20vh;
  max-height: 80px;
  min-width: 100px;
}

.App button:not(.exitButton, .editbutton, .pledgeshow) {
  padding: 5px 10px;
  background: #373a47;
  border-radius: 30px;
  font-size: 18px;
  color: white;
  border: none;
}


.pledgebutton{
  padding: 5px 10px;
  background: #373a47;
  border-radius: 30px;
  font-size: 18px;
  color: white;
  border: none;
}

.App button:hover{
  opacity: 0.7;
}

.modalBackground {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
}

.modalShowing-true {
  opacity: 1;
  pointer-events: visible;
}

.modalInner {
  background: white;
  width: 900px;
  max-width: calc(100% - 50px);
  justify-content: center;
  margin: auto;
  display: flex;
  flex-direction: row;
  color: black;
  text-align: left;
}

.modalText {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.modalText p {
  line-height: 180%;
}

.modalText button {
  display: block;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.modalImage img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.exitButton {
  padding: 15px;
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0;
  text-align: center;
  color: black;
}

button.exitButton{
  align-items: center;
}

.pledgeshow {
  padding: 15px;
  width: 100%;
  background-color: transparent;
  border: 0;
  text-align: center;
  color:#373a47;
  align-items: center;

}



.editbutton {
  padding: 5px;
  width: 100%;
  background-color: transparent;
  border: 0;
  text-align: center;
  color: darkred;
  text-transform: capitalize;
}




@media (max-width: 500px) {
  .modalImage {
    display: none;
  }
}


ul {
  list-style: none;
  text-align: left; 

}
ul li::before {
  content: "";
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/fb-heart.gif);
  background-size: contain;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.1rem;
  margin-right: 0.2rem;
}


.comment{
  font-size: 0.7rem;

}


.ownersection{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}


img#profilepicture{
  display: flex;
  flex-direction: column;
  width: 50%;
}

div#imagecon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




@media only screen and (max-width: 700px) {
  .pledgeseperatedfromotherinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    align-items: center;
  
  }

  .profileseperatedfromotherinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    max-width: 1000px;
    align-items: center;
  
  }
  


  .backgroundinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    align-items: center;
  }

  .PROFILEINFO{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    align-items: center;
  }


}




#errormessage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.nopadding{
  padding: 2px;
  margin: 4px;

}


#notcenter{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}


.ownerid{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 25%;
}


#enlargepic{
  display: flex;
  width: 80%;
  max-width: 600px;
}




div#enlargepic{
  display: flex;
  width: 90%;
  max-width: 600px;
  justify-content: center;
  align-items: center;
}

/* 
#pledgescroll{
  position: absolute;
  border: 5px solid gray;
  padding: 5px;
  background: white;
  width: 300px;
  height:440px;
  overflow: auto;
} */

div.pledgescroll {
  width: 600px;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}


div.testingscrollproject {
  height: 500px;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}


#overallcontainer-public{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;


}

.publicpic{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  max-width: 400px;
}


#centerprofiletext{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#datemove{
  display: flex;
  flex-direction: column;
  align-items: center;
}


